/* Global Settings */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Helper Classes */
.flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-center {
    justify-content: center;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}


/* Header */
#header {

}

/* Navigation */
#main-navigation {
    
}
#main-navigation ul li {
    /* top right bottom left */
    padding: 25px 10px 0px 25px;
}
#main-navigation ul li a{
    font-family: 'Inter', sans-serif;
    color: #c0c0c0;
    font-weight: 300;
}
#main-navigation ul li a span {
    display: inline-block;
    margin-left: 8px;
}
#main-navigation ul li a:hover span{
    color: #fff;
}

#main-navigation ul li.active-link a svg{
    color: #25a56a;
}
#main-navigation ul li a:hover svg{
    color: #25a56a;
}

/* Banner */
#banner {

}

/* Main */
#main {

}

/* Sidebar */
#sidebar {
    position: fixed;
    height: 100%;
    background-color: #16151a;
}

#sidebar .logo {
    padding: 20px;
    padding-left: 25px;
    border-bottom: 1px solid #222227;
}

#sidebar .fixed-sidebar {
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
}

#music-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-top: 20px;
    border-top: 1px solid #222227;
}
#music-player .current-song-name p {
    color: #fff;
}
#music-player .current-song-cover img {
    border-radius: 20px;
}
#music-player .song-controls button {
    background-color: transparent;
    border: none;
    color: #fff;
}

/* Footer */
#footer {
    
}

